view,swiper,swiper-item{
  box-sizing: border-box;
}

.PageBg{
	background: 
		linear-gradient(to bottom,transparent,#fff 600rpx),
		linear-gradient(to right,#beecd8 20%,#F4E2D8);
		min-height: 80vh;
	
	
}
.loadingLayout{
	padding: 30rpx;
}
.safe-area-inset-buttom{
	height: env(safe-area-inset-bottom);
}